<template>
  <div class="mt-15" id="mapContainer"></div>
</template>

<script lang="ts">
import 'leaflet/dist/leaflet.css'
import { defineComponent } from 'vue'
import Stomp, { Client, Frame } from 'stompjs'
import L, { type Icon, type LatLngTuple, type Marker } from 'leaflet'
import { useToast, TYPE } from 'vue-toastification'

import { createMarker, createMarkerIcon } from '../utils/leaflet.js'
//import { getFires } from '../api/fire.js'
import { getMapData } from '../api/data.js'
//import { getFireStations } from '../api/fireStation.js'
import eventBus from '@/utils/eventBus'

export default defineComponent({
  name: 'HomeView',
  data() {
    return {
      toast: useToast(),
      stompClient: null as Client | null,
      map: null as L.Map | null,
      center: [45.772875, 4.893752] as LatLngTuple,
      fireman: [] as any[],
      //fireStations: [] as any[],
      //firestationMarkers: [] as Marker[],
      //fireTrucks: [] as any[],
      fireCircles: [] as L.Circle[],
      sensors: [] as any[],
      sensorsMarkers: [] as Marker[],
      sensorRanges: [] as L.Circle[],
      showSensorMarkers: true,
      showSensorRanges: true

    }
  },
  watch:{
      showSensorMarkers(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.toggleSensorMarkers();
      }
    },
    showSensorRanges(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.toggleSensorRanges();
      }
    },
  },

  async mounted() {
    this.setupMap()
    //this.addTestFire()
    await this.updateMap();

    //Call updateMap toutes les 30s
    setInterval(async () => {
    await this.updateMap();
  }, 30000);
    //this.fireStations = await this.getFireStations()

    //this.initializeWebSocket()

    eventBus.on('toggleSensors', (data) => {
      this.showSensorMarkers = data.showMarkers;
      this.showSensorRanges = data.showRanges;
      this.toggleSensorMarkers();
      this.toggleSensorRanges();
    });
  },

  unmounted() {
        // Assurez-vous de vous désabonner de l'événement lorsque le composant est détruit
        eventBus.off('toggleSensors');
   },
  methods: {
    // initializeWebSocket() {
    //   this.stompClient = Stomp.client('ws://127.0.0.1:15674/ws')
    //   this.stompClient.debug = null
    //   this.stompClient.connect(
    //     import.meta.env.VITE_APP_BROKER_USERNAME,
    //     import.meta.env.VITE_APP_BROKER_PASSWORD,
    //     this.onConnect,
    //     this.onError,
    //     '/'
    //   )
    // },
    // disconnectWebSocket() {
    //   this.stompClient?.unsubscribe('/exchange/sensor.exchange/*')
    //   this?.stompClient.disconnect(() => {
    //     console.log('Disconnected from WebSocket')
    //   })
    // },
    // onConnect(frame: Frame) {
    //   console.log('WebSocket connected:', frame)
    //   this.stompClient?.subscribe('/exchange/sensor.exchange/*', this.onSensorMessage)
    //   this.stompClient?.subscribe('/exchange/fire.exchange/create',this.onFireCreate)
    //   this.stompClient?.subscribe('/exchange/fire.exchange/update',this.onFireUpdate)
    //   this.stompClient?.subscribe('/exchange/fire.exchange/delete',this.onFireDelete)
    // },
    // onError(error: Frame) {
    //   this.toast.error("Impossible d'ouvrir la WebSocket.")
    //   console.error('WebSocket error:', error)
    // },
    clearMap() {
      // Supprimer les marqueurs des capteurs
      this.sensorsMarkers.forEach(marker => {
        this.map.removeLayer(marker);
      });
      this.sensorsMarkers = [];

      // Supprimer les cercles des capteurs
      this.sensorRanges.forEach(circle => {
        this.map.removeLayer(circle);
      });
      this.sensorRanges = [];

      // Supprimer les cercles de feu
      this.fireCircles.forEach(circle => {
        this.map.removeLayer(circle);
      });
      this.fireCircles = [];
    },
    
    async updateMap() {
      try {
        const mapData = await getMapData(); // Nouvelle méthode pour récupérer les données de l'API

        // Supprimer les anciens marqueurs et cercles de la carte
        this.clearMap();

        // Mise à jour avec les nouvelles données
        this.sensors = mapData.sensorMap;
        this.fires = mapData.fireMap;
        this._addSensorsToMap(this.sensors);
        this._addFiresToMap(this.fires);
      } catch (error) {
        console.error('Erreur lors de la mise à jour de la carte :', error);
      }
    },
    getSensorUpdateToastType(intensity: any) {
      if (intensity === 1) {
        return TYPE.SUCCESS
      } else if (intensity > 1 && intensity < 5) {
        return TYPE.WARNING
      } else {
        return TYPE.ERROR
      }
    },
    onSensorMessage(messageFrame: Frame) {
      const message = JSON.parse(messageFrame.body)

      const sensor = this.sensors.find((sensor) => sensor.id === message.id)
      const marker: Marker = this.sensorsMarkers.find(
        (marker) => marker.options.sensor === message.id
      )

      if (!sensor || !marker) return

      const toastType = this.getSensorUpdateToastType(message.intensity)
      this.toast(
        `L'intensité du capteur ${sensor.id} est passée de ${sensor.intensity} à ${message.intensity}`,
        {
          type: toastType,
          toastClassName: toastType === TYPE.WARNING ? 'custom-warning-toast-class' : null,
          icon: {
            iconClass: 'mdi mdi-thermometer'
          }
        }
      )

      marker.setPopupContent(
        `
          <b>Capteur ${sensor.id}</b>
          <br> Longitude : ${sensor.longitude}
          <br> Latitude : ${sensor.latitude}
          <br> Intensité : ${message.intensity}
          `
      )
    },

    // onFirestationMessage(messageFrame: Frame) {
    //   const message = JSON.parse(messageFrame.body)

    //   const firestation = this.firestation.find((firestation) => firestation.id === message.id)
    //   if (firestation === undefined) return

    //   const marker: Marker = this.firestationMarkers.find(
    //     (marker) => marker.options.firestation === message.id
    //   )
    //   if (marker === undefined) return

    //   marker.setPopupContent(
    //     `
    //       <b>Caserne ${firestation.id}</b>
    //       <br> Longitude : ${firestation.longitude}
    //       <br> Latitude : ${firestation.latitude}
    //       `
    //   )
    // },
    // onError(error: Frame) {
    //   console.error('WebSocket error:', error)

    // },
    setupMap() {
      this.map = L.map('mapContainer')
      this.map.setView(this.center, 13.5)
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(this.map)
    },
    async getSensors() {
    try {
      const sensors = await getSensors(); // Cette fonction devrait retourner le contenu de 'sensorMap'
      this._addSensorsToMap(sensors);
      return sensors;
    } catch (error) {
      this.toast.error('Une erreur est survenue lors de la récupération des capteurs');
      console.error('Erreur lors de la récupération des capteurs :', error);
    }
  },
    // async getFireStations() {
    //   try {
    //     const fireStations = await getFireStations()
    //     this._addFireStationsToMap(fireStations)
    //     return fireStations
    //   } catch (error) {
    //     this.toast.error('Une erreur est survenue lors de la récupération des casernes')
    //     console.error('Erreur lors de la récupération des casernes :', error)
    //   }
    // },
    async getFires() {
      try {
        const fires = await getFires()
        this._addFiresToMap(fires)
        return fires
      } catch (error) {
        console.error('Erreur lors de la récupération des feux :', error)
      }
    },
    _addSensorsToMap(sensors) {
    Object.values(sensors).forEach((sensor) => {
      const icon = createMarkerIcon('src/assets/img/sensor.png', [16, 16]);
      const marker = createMarker([sensor.sensorCoordinates.y, sensor.sensorCoordinates.x], {
        sensor: sensor.idSensor,
        icon: icon
      });

      marker.addTo(this.map).bindPopup(
        `<b>Capteur ${sensor.idSensor}</b>
        <br> Longitude : ${sensor.sensorCoordinates.x}
        <br> Latitude : ${sensor.sensorCoordinates.y}
        <br> Intensité : ${sensor.detectedIntensity}`
      );

      this.sensorsMarkers.push(marker);

      // Créer un cercle pour représenter la portée du capteur
      const rangeCircle = L.circle([sensor.sensorCoordinates.y, sensor.sensorCoordinates.x], {
        color: 'grey',
        fillColor: '#f2f2f2',
        fillOpacity: 0.2,
        radius: 600, // Ajuster en fonction de la portée du capteur
        weight: 1
      }).addTo(this.map);

      this.sensorRanges.push(rangeCircle);
    });

    this.toggleSensorMarkers();
    this.toggleSensorRanges();
  },

    _calculateFireRadius(intensity: number): number {
      // Calculer le rayon du cercle en fonction de l'intensité
      // Intensité de 1 à 10, rayon de 60 à 600 mètres
      return 60 * intensity;
    },

    addFireToMap(fire) {
      // Assurez-vous que les coordonnées sont définies
      if (fire.coordinates.x === undefined || fire.coordinates.y === undefined) {
        console.error('Coordonnées de feu manquantes', fire);
        return;
      }

      const latitude = fire.coordinates.y;
      const longitude = fire.coordinates.x;
      const radius = this._calculateFireRadius(fire.intensity);

      const fireCircle = L.circle([latitude, longitude], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: radius
      }).addTo(this.map).bindPopup(
        `
        <b>Feu ${fire.id}</b>
        <br> Longitude : ${longitude}
        <br> Latitude : ${latitude}
        <br> Intensité : ${fire.intensity}
        `
      );

      fireCircle.options.fireId = fire.id;
      this.fireCircles.push(fireCircle);
    },


    _addFiresToMap(fireMap) {
      // Convertit les valeurs de l'objet fireMap en tableau
      const firesArray = Object.values(fireMap);

      // Parcourt chaque feu dans le tableau et les ajoute à la carte
      firesArray.forEach(fire => {
        this.addFireToMap(fire);
      });
    },



    toggleSensorMarkers(){
      this.sensorsMarkers.forEach(marker => {
        if (this.showSensorMarkers) {
          marker.addTo(this.map);
        } else {
          this.map.removeLayer(marker);
        }
      });
    },

    toggleSensorRanges(){
      this.sensorRanges.forEach(range => {
        if (this.showSensorRanges) {
          range.addTo(this.map);
        } else {
          this.map.removeLayer(range);
        }
      });
    }

  }
})
</script>

<style scoped>
#mapContainer {
  height: 100%;
}
</style>