<template>
  <v-app-bar app color="white" dark>
    <v-app-bar-nav-icon>
      <v-icon @click="myMethod()" color="#fc8403" size="x-large">mdi-fire</v-icon>
    </v-app-bar-nav-icon>

    <v-toolbar-title class="text-h5 font-weight-bold"> Simulator View </v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn icon @click="dialog = true">
      <v-icon>mdi-filter</v-icon>
    </v-btn>

    <v-dialog v-model="dialog" max-width="300">
      <v-card>
        <v-card-title>Filtres</v-card-title>
        <v-card-text>
          <v-checkbox v-model="showSensorMarkers" label="Afficher les capteurs"></v-checkbox>
          <v-checkbox v-model="showSensorRanges" label="Afficher la portée des capteurs"></v-checkbox>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="dialog = false">Fermer</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-btn
      class="text-white font-weight-bold"
      prepend-icon="mdi-account"
      variant="flat"
      color="#fc8403"
    >
      Se connecter
    </v-btn>
  </v-app-bar>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useToast } from 'vue-toastification'
import eventBus from '@/utils/eventBus'

export default defineComponent({
  data() {
    return {
      dialog: false,
      showSensorMarkers: true,
      showSensorRanges: true,
      toast: useToast()
    }
  },
  methods: {
    myMethod() {
      this.toast.warning("Un nouveau feu s'est déclaré.", {
        toastClassName: 'custom-warning-toast-class',
        icon: {
          iconClass: 'mdi mdi-fire'
        }
      })
    }
  },
  watch: {
    showSensorMarkers(newVal) {
      eventBus.emit('toggleSensors', { showMarkers: newVal, showRanges: this.showSensorRanges });
    },
    showSensorRanges(newVal) {
      eventBus.emit('toggleSensors', { showMarkers: this.showSensorMarkers, showRanges: newVal });
    }
  }
})
</script>
@/utils/eventBus