<template>
  <v-overlay :value="loading">
    <v-progress-circular indeterminate color="primary"></v-progress-circular>
  </v-overlay>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    loading: {
      type: Boolean,
      required: true
    }
  }
})
</script>

<style scoped></style>
