<template>
  <div id="app">
    <v-app>
      <Header />
    <router-view></router-view>
    </v-app>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Header from '../src/components/Header.vue'

export default defineComponent({
  name: 'App',
  components: {
    Header
  }
})
</script>

<style src="src/assets/app.css" scoped></style>
